<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>
    <form action='/result' method='POST'>
    Your Name:<input type="text" name="name_text">
    Dojo Location:<select name='dojo_location' id="dojo_location">
        <option value="chicago">Chicago</option>
        <option value="san_jose">San Jose</option>
        <option value="seattle">Seattle</option>
    </select>
    Favorite Language:<select name='favorite_language' id="favorite_language">
        <option value="Python">Python</option>
        <option value="Javascript">Javascript</option>
        <option value="Ruby">Ruby</option>
    </select>
    <textarea name='comment' id="comment" cols="30" rows="10" placeholder="Comment(optional):"></textarea>
    <input type="submit" value="Button">
    </form>
    </p>
</body>
</html>