<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Your Gold:<form action="/process_money" method="POST" name="total_gold">
({{ session.gold }})
</form></p>
<div class="farm">
    <h1>Farm</h1>
    (Earns 10-20 golds)
    <form action="/process_money" method="POST">
    <input type="hidden" name="building" value="farm" />
    <input type="submit" value="Find Gold!"/>
    </form> 
</div>
<div class="cave">
    <h1>Cave</h1>
    (Earns 5-10 golds)
    <form action="/process_money" method="POST">
    <input type="hidden" name="building" value="cave" />
    <input type="submit" value="Find Gold!"/>
    </form> 
</div>
<div class="house">
    <h1>House</h1>
    (Earns 2-5 golds)
    <form action="/process_money" method="POST">
    <input type="hidden" name="building" value="house" />
    <input type="submit" value="Find Gold!"/>
    </form> 
</div>
<div class="casino">
    <h1>Casino</h1>
    (Earns/Takes 0-50 golds)
    <form action="/process_money" method="POST">
    <input type="hidden" name="building" value="casino" />
    <input type="submit" value="Find Gold!"/>
    </form> 
</div>
</body>
</html>